html, body {
	font-family: "Times New Roman", Times, serif;
}

button {
	background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color: #79bbff;
	border-radius: 6px;
	border: 1px solid #84bbf3;
	color: #ffffff;
}

button:hover {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0) inset, 0 1px 1px 1px
		rgba(0, 255, 255, .5), 0 -1px 1px 1px rgba(0, 255, 255, .5);
}

input[type=submit] {
	background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color: #79bbff;
	border-radius: 6px;
	border: 1px solid #84bbf3;
	color: #ffffff;
}

input[type="submit"]:hover {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0) inset, 0 1px 1px 1px
		rgba(0, 255, 255, .5), 0 -1px 1px 1px rgba(0, 255, 255, .5);
}

input[type=checkbox]:checked {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0) inset, 0 1px 1px 1px
		rgba(0, 255, 255, .5), 0 -1px 1px 1px rgba(0, 255, 255, .5);
}

input[type=text]:hover, input[type=password]:hover {
	border: 1px solid #b6bfc0;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
}

input[type=text]:focus, input[type=password]:focus {
	border: 1px solid #a8c9e4;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
}

.layout {
	background: #ffffff;
}

.layout:first-child {
	background: #ffffff;
}

.header {
	height: 190px;
}

.footer {
	height: 40px;
}

.space {
	height: 280px;
}