input[type=checkbox]:checked {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0) inset, 0 1px 1px 1px
		rgba(0, 255, 255, .5), 0 -1px 1px 1px rgba(0, 255, 255, .5);
}

table {
	background: #b8d1f3;
}

tr:nth-child(odd) {
	background-color: #aad5ff;
	color: black;
}

tr:nth-child(even) {
	background-color: #93c9ff;
	color: black;
}

tr:first-child {
	background-color: #b8d1f2;
	color: blue;
}